@model Hotel_Core_MVC_V1.Models.UserModel

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section links {
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}
@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Select2 -->
    <script src="~/lib/adminlte3/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        $(function () {
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });
    </script>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">Change Password</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="ChangePassword" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Userid" />
                            <div class="form-group">
                                <label asp-for="Usercde" class="control-label"></label>
                                <input asp-for="Usercde" class="form-control col-sm-5" readonly/>
                                <span asp-validation-for="Usercde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Usernme" class="control-label"></label>
                                <input asp-for="Usernme" class="form-control col-sm-5" readonly/>
                                <span asp-validation-for="Usernme" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <label asp-for="Pwd" class="control-label"></label>
                            <input asp-for="Pwd" class="form-control col-md-5" type="password" />
                            <span asp-validation-for="Pwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control col-md-5" type="password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control col-md-5" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group row col-12">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a class="btn btn-danger ml-4" asp-action="ResetPassword" asp-route-id="@Model.Userid" 
                                onclick="return confirm('Are you sure you want to reset your password to default?')">Password Reset to Default</a>
                            </div>
                            <div class="form-group">
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@