@model Hotel_Core_MVC_V1.Models.UserModel

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section links {
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}
@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-- Select2 -->
    <script src="~/lib/adminlte3/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        $(function () {
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });
    </script>
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Create</h3>
            </div>
            <div class="card-body col-md-12">
                <p>Please take note that the user will be created with default password 'User@123' if there is no password was provided.</p>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Usercde" class="control-label"></label>
                        <input asp-for="Usercde" class="form-control col-md-5" />
                        <span asp-validation-for="Usercde" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Usernme" class="control-label"></label>
                        <input asp-for="Usernme" class="form-control col-md-5" />
                        <span asp-validation-for="Usernme" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pwd" class="control-label"></label>
                        <input asp-for="Pwd" class="form-control col-md-5" type="password" />
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control col-md-5" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cmpyid" class="control-label"></label>
                        <div class="col-sm-5">
                            <select asp-for="Cmpyid" class="form-control select2bs4" asp-items="ViewBag.Cmpyid" style="width: 100%;">
                                <option> - Select One - </option>
                            </select>
                        </div>
                        <span asp-validation-for="Cmpyid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deptcde" class="control-label"></label>
                        <div class="col-sm-5">
                            <select asp-for="Deptcde" class="form-control select2bs4" asp-items="ViewBag.Deptcdeid" style="width: 100%;">
                                <option> - Select One - </option>
                            </select>
                        </div>
                        <span asp-validation-for="Deptcde" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                    <label asp-for="Mnugrpid" class="control-label"></label>
                    <input asp-for="Mnugrpid" class="form-control" />
                    <span asp-validation-for="Mnugrpid" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@