@model Hotel_Core_MVC_V1.Models.MsHotelservicegrp

@{
    ViewData["Title"] = "Hotel Services Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section links
    {
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <style type="text/css">
        .form-check-input {
            width: 23px;
            height: 23px;
            margin-left: -2rem;
            margin-top: 0.08rem;
        }
    </style>
    }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Create</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Srvcgrpcde" class="control-label">Services Group Code</label>
                                <input asp-for="Srvcgrpcde" class="form-control" />
                                <span asp-validation-for="Srvcgrpcde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Srvcgrpdesc" class="control-label">Services Group Desc</label>
                                <input asp-for="Srvcgrpdesc" class="form-control" />
                                <span asp-validation-for="Srvcgrpdesc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
