@{
    ViewData["Title"] = "About Fortified City";
}
<h1>@ViewData["Title"]</h1>


<h5>
    Software Development Center, Yangon.<br />
    Room(502), Building-11, 4th Floor, MICT Park, Hlaing T/S Yangon. Tel: +951(2305174~76), +959-5029560
</h5>
<p>
    Email
    fortifiedcity.mm@gmail.com, sales@fortifiedcitymyanmar.com
</p>
<p>
    Contact no. 09-502-9560, 09-45-502-9560
</p>
<p>"Developed By Kaung Zin Han (Junior DotNet Developer) Contact no. 09-974300636"</p>
