@model CheckInModel

@{
    ViewData["Title"] = "Quick Check-In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section links {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/adminlte3/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
}

@section scripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/lib/adminlte3/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/adminlte3/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/adminlte3/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/adminlte3/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/adminlte3/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom Js for this form -->
    <script src="~/javascript/WalkInGuest.js"></script>
    <script>
        $(function () {
            $('.select2').select2()
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });
    </script>
}

<!-- Guest Modal -->
<div class="modal" id="guestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Guests</h5>
                <button type="button" class="close" aria-label="Close" onclick="closeGuestModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="guestModalBodyId" class="table-responsive" style="max-height: 600px">
            </div>
            <div class="modal-footer">
                <button class="btn btn-default ml-auto" onclick="closeGuestModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h4>@ViewData["Title"]</h4>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="quickCheckInForm" asp-action="Add" asp-controller="WalkInGuest" method="POST">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label asp-for="Occudte" class="control-label col-sm-4"></label>
                                        <input id="inputCheckInDate" asp-for="Occudte" type="date" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="Occudte" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Roomno" class="control-label col-sm-4"></label>
                                        <div class="col-sm-7">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <a class="btn btn-default" style="background-color: #31849B;color: white" asp-action="RoomOccupancy" asp-controller="RoomEnquiry" asp-route-rmTypCde="ALL">Choose</a>
                                                </div>
                                                <input id="inputRoomNo" asp-for="Roomno" type="text" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Roomno" class="text-danger"></span>
                                    </div>
                                    <input asp-for="RmtypId" class="form-control col-sm-7" type="hidden" />
                                    <div class="form-group row">
                                        <label asp-for="Rmtypdesc" class="control-label col-sm-4"></label>
                                        <input asp-for="Rmtypdesc" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="Rmtypdesc" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">Room Rate</label>
                                        <div class="col-sm-7">
                                            <select id="selectRmRate" class="form-control" asp-for="Rmrateid" asp-items="ViewBag.Rates" style="width: 100%;" onchange="changeAmount()">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Rmprice" class="control-label col-sm-4"></label>
                                        <input id="inputRmprice" asp-for="Rmprice" type="number" min="0" step="1" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="Rmprice" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Nightqty" class="control-label col-sm-4"></label>
                                        <input id="inputNightQty" asp-for="Nightqty" class="form-control col-sm-7" min="0" oninput="calculateCheckOutDate()" />
                                        <span asp-validation-for="Nightqty" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Departdte" class="control-label col-sm-4"></label>
                                        <input id="inputCheckOutDate" type="date" asp-for="Departdte" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="Departdte" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Extrabedqty" class="control-label col-sm-4"></label>
                                        <input id="inputExtrabedqty" type="number" asp-for="Extrabedqty" min="0" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="Extrabedqty" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Extrabedprice" class="control-label col-sm-4"></label>
                                        <input id="inputExtrabedprice" type="number" asp-for="Extrabedprice" min="0" step="1" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="Extrabedprice" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Discountamt" class="control-label col-sm-4"></label>
                                        <input id="inputDiscountamt" type="number" asp-for="Discountamt" min="0" step="1" class="form-control col-sm-7" oninput="calculateAmount()" />
                                        <span asp-validation-for="Discountamt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Amt" class="control-label col-sm-4"></label>
                                        <input id="inputAmt" type="number" asp-for="Amt" min="0" step="1" class="form-control col-sm-7" readonly />
                                        <span asp-validation-for="Amt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4">Guests</label>
                                        <div class="col-sm-7">
                                            <div class="input-group mb-3">
                                                <button type="button" class="btn btn-default" style="background-color: #31849B;color: white" onclick="chooseGuest()">Browse</button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <table id="guestDetailsTable" class="table table-bordered table-hover">
                                                <thead class="text-md-center">
                                                    <tr style="font-size: 14px;text-align: left">
                                                        <th style="text-align: center">
                                                            No.
                                                        </th>
                                                        <th>
                                                            Full Name
                                                        </th>
                                                        <th>
                                                            P Flag
                                                        </th>
                                                        <th style="text-align: center">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="guestDetailsTableBody" class="text-md-left">
                                                    @* <tr style="font-size: 14px; text-align: left;">
                                                        <td style="padding: 5px; text-align: center;">1</td>
                                                        <td style="display: none;">1</td>
                                                        <td style="padding: 5px;">Default Guest</td>
                                                        <td style="display: none;"></td>
                                                        <td style="display: none;">12/Htoutkyant(N)112233</td>
                                                        <td style="display: none;">0001-01-01</td>
                                                        <td style="display: none;">0001-01-01</td>
                                                        <td style="display: none;">13</td>
                                                        <td style="display: none;">1</td>
                                                        <td style="display: none;">11</td>
                                                        <td style="display: none;">false</td>
                                                        <td style="display: none;"></td>
                                                        <td style="display: none;"></td>
                                                        <td style="display: none;"></td>
                                                        <td style="display: none;">0</td>
                                                        <td style="display: none;"></td>
                                                        <td style="display: none;">0</td>
                                                        <td style="display: none;">72070</td>
                                                        <td style="padding: 5px; text-align: center;">
                                                            <input type="checkbox" checked>
                                                        </td>
                                                        <td style="display: none;">0001-01-01</td>
                                                        <td style="display: none;">0</td>
                                                        <td style="display: none;">1401/H01</td>
                                                        <td style="padding: 5px; color: red; text-align: center; cursor: pointer;" onclick="removeRow(this)">Remove</td>
                                                    </tr> *@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" style="background-color: #31849B;color: white" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




